<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="books new">
  <h2>Delete Book</h2>

  <%= form_for(@book, :method => 'delete') do |f| %>
    <p>Are you sure you want to permanently delete this book?</p>
    <p><%= @book.title %> by <%= @book.author %></p>

    <div class="form-button">
      <%= f.submit("Delete Book") %>
    </div>

  <% end %>
</div>
