<%= link_to("<< Back to List", books_path, :class => 'back-link') %>

<div class="books new">
  <h2>Create Book</h2>

  <%= form_for(@book, :url => books_path, :method => 'post') do |f| %>
    <table>
      <tr>                                                                        
        <th>Title</th>                                                            
        <td><%= f.text_field(:title)  %></td>                                               
      </tr>                                                                       
      <tr>                                                                        
        <th>Author</th>                                                           
        <td><%= f.text_field(:author) %></td>                                              
      </tr>                                                                       
      <tr>                                                                        
        <th>Genre</th>                                                            
        <td><%= f.text_field(:genre) %></td>                                               
      </tr>                                                                       
      <tr>                                                                        
        <th>Price ($USD)</th>                                                            
        <td><%= f.number_field(:price) %></td>                                               
      </tr>                                                                       
      <tr>                                                                        
        <th>Date Published</th>                                                   
        <td><%= f.text_field(:publisheddate) %></td>                                       
      </tr>                                                                       
    </table>
    <div class="form-button">
      <%= f.submit("Create Book") %>
    </div>

  <% end %>
</div>
